#poke-container {
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    justify-items: center;
}

.poke-card{
  width: 80%;
  display: flex;
  flex-direction: column;
  border: 1px solid yellow;
  background: #00bcd4;
    display: flex;
    margin: 5px;
    color: white;
    border-radius: 13px;
    background: radial-gradient(
      circle at 50% 0%,
      rgb(1 8 12) 33%,
      rgb(255, 255, 255) 33.5%
    );
  

}

.poke-details{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 1rem;
}
.stack{
  display: flex;
  margin: 10px;
}

span{
  padding: 9px;
  background: black;
  display: flex;
  margin: 5px;
  color: white;
  border-radius: 23px;
  font-size: 11px;
}


.img{
  width: 80%;
    align-self: center;
    margin-top: 20px;
}

h2{
  color: black;
}


@media (min-width: 375px) and (min-width: 425px){

  .stack {
    width: 100%;
    display: flex;
    margin: 3px;
    justify-content: center;
}

span{
  font-size: 16px;
}
.poke-details{
  font-size: 1.6rem;
}
}


@media (min-width: 768px){

  #poke-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .poke-card {
    width: 100%;
  }

  span{
    padding: 12px;
    background: black;
    display: flex;
    margin: 5px;
    color: white;
    border-radius: 23px;
    font-size: 1.3rem;
}

.poke-details {
  font-size: 2rem;
}


@media (min-width: 1024px){

  /* #poke-container { */
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  /* } */

  .poke-card {
    width: 100%;
  }

  span{
    padding: 6.5px;
}

.poke-details {
  font-size: 2rem;
}

}

@media (min-width: 1440px){
  span{
    font-size: 1.2rem;
  }
}









}
