html {
  text-align: center;
  background-color: brown;
  background-image: url(img/pokeball.jpg);
  background-size: 100%;
}

body {
 
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



  #wrapper {
    background-image: url(img/333333.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 6px;
    width: 100%;
    /* padding: 2%; */
}
  
#searching{
  border-radius: 3px;
}

.init {
  text-align: -webkit-center;
}

.grid-fluid {
  justify-items: center;
  width: 100%;
  gap: 14px;
  text-transform: capitalize;
  color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
}

#imagen {
  width: 23%;
  
}

.content:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.4);
}

.img__primary {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
}

.content {
  color: white;
  overflow: hidden;
  margin-top: 15%;
    width: 86%;
}

.text {
  font-family: 'Permanent Marker', cursive;
  font-size: 11px;
}

.pokeball{
  width: 50%;
}

@media (min-width: 768px){

  .grid-fluid {
    width: 100%;
    gap: 14px;
    text-transform: capitalize;
    color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    text-align: center;
}
}


@media (max-width: 1024px){
  #wrapper{
    width: 90%;
  }

  .grid-fluid{
    width: 100%;
gap: 14px;
text-transform: capitalize;
color: black;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
text-align: center;
  }

  .content{
    width: 100%;
    margin: 9%
  }
}

  @media (max-width: 1440px){


    #wrapper{
      width: 80%;
      padding: 5%;
    }
    .content{
      width: 86%;
    }
    .figure{
      width: 60%;
    }

  }

  @media (max-width: 2559px){
    #wrapper{
      width: 80%;
      padding: 5%;
    }
    .content{
      width: 86%;
    }
    .figure{
      width: 60%;
    }
  }

    @media (min-width: 2560px){

      /* div{ */
        /* width: 50%; */
      /* } */

      .grid-fluid{
        width: 50%;
      }

      #wrapper{
        width: 90%;
        background-size: 100%;
        padding: 3%;
      }

      .figure{
        width: 0%;
      }




}

