html{
    text-align: center;
    background-color: brown;
}



.grid-fluid{
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    text-align: center;
    
}
#imagen{
    width: 50%;
}
.img__primary{
    width: 100%;
}

.figure{
    width: 50%;
}


